<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/vendors/lugares.css">
    <title> Lugares </title>
</head>
<body>
    <div class="header">
        <div class="row">
            <div class="col-12">
                <h1> Añadir lugares </h1>
            </div>
        </div>
    </div>
    <div class="container background-alpha">
        <div class="row">
            <div class="list">
                <h3> Museo de las momias de Guanajuato </h3>
                <form >
                    <span><input value="Museo de las Momias de Guanajuato" type="checkbox" id="checkbox">Museo de las Momias de Guanajuato</span>   
                    <span><input value="Alhóndiga de Granaditas" type="checkbox" id="checkbox1">Alhóndiga de Granaditas</span> 
                    <span><input value="Museo iconográfico del Quijote" type="checkbox" id="checkbox2">Museo iconográfico del Quijote</span> 
                    <span><input value="Museo del Pueblo de Guanajuato" type="checkbox" id="checkbox2">Museo del Pueblo de Guanajuato</span> 
                </form>
            </div>
            <div class="list">
                <h3> Museo Regional de Guanajuato Alhóndiga </h3>
                <form >
                    <span><input value="Casa Museo Gene Byron" type="checkbox" id="checkbox3">Casa Museo Gene Byron</span> 
                    <span><input value="Casa de Tía Aura" type="checkbox" id="checkbox4">Casa de Tía Aura</span> 
                    <span><input value="Casa de las Leyendas de Guanajuato" type="checkbox" id="checkbox5">Casa de las Leyendas de Guanajuato</span> 
                    <span><input value="Casa de los lamentos" type="checkbox" id="checkbox6">Casa de los lamentos</span> 
                    <span><input value="Casa Museo José Alfredo Jiménez" type="checkbox" id="checkbox7">Casa Museo José Alfredo Jiménez</span>
                </form>
            </div>
            <div class="list">
                <h3> Museo iconográfico del Quijote </h3>
                <form>
                    <span><input value="Parque Bicentenario De Silao" type="checkbox" id="checkbox8">Parque Bicentenario De Silao</span> 
                    <span><input value="Cañada de la Virgen" type="checkbox" id="checkbox9">Cañada de la Virgen</span> 
                    <span><input value="Zona Arqueológica de Peralta" type="checkbox" id="checkbox10">Zona Arqueológica de Peralta</span> 
                    <span><input value="Museo Casa El Purgatorio" type="checkbox" id="checkbox11">Museo Casa El Purgatorio</span> 
                    <span><input type="checkbox" id="checkbox12"> La puerta azul </span> 
                    <span><input type="checkbox" id="checkbox13"> Información turística Plaza Allende </span> 
                </form>
            </div>
            <div class="list">
                <h3> Museo Casa Diego Rivera </h3>
                <form>
                    <span><input type="checkbox" id="checkbo14"> Museo del siglo XIX</span> 
                    <span><input type="checkbox" id="checkbox15"> Museo del Pueblo de Guanajuato</span> 
                    <span><input type="checkbox" id="checkbox16"> Casa del Conde Rul</span> 
                    <span><input type="checkbox" id="checkbox17"> Campo Santo - Galería y Estudio</span> 
                    <span><input type="checkbox" id="checkbox18"> Templo de San Roque</span> 
                    <span><input type="checkbox" id="checkbox19"> Foro Cultural 81</span>   
                </form>
            </div>
            <div class="list">
                <h3> Museo del Pueblo de Guanajuato </h3>
                <form>
                    <span><input type="checkbox" id="checkbox20"> Basílica Colegiata de Nuestra Señora de Guanajuato</span>
                    <span><input type="checkbox" id="checkbox21"> Teatro principal de Guanajuato</span> 
                    <span><input type="checkbox" id="checkbox22"> Fuente del Baratillo</span> 
                    <span><input type="checkbox" id="checkbox23"> Callejonadas Guanajuato</span> 
                    <span><input type="checkbox" id="checkbox24"> Museo Palacio de los Poderes</span>
                </form>
            </div>
            <div id="ruta">
                <a id="color-azul" class="btn" href="map.html"> Trazar ruta </a>
            </div>
        </div>
    </div>
    
    <!-- <script src="../js/vendors/maprutas.js"></script> -->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIdxjSv6ryGgndpGEofce3YfLSTJV-W7g&callback=initMap">
        </script>
</body>
</html>